# Зависимости
/node_modules
/.pnp
.pnp.js

# Тестовая и сборка
/.next
/out

# Кэш
/.cache

# Логи и окружение
*.log
.env*.local
.env

# Настройки IDE
.idea
.vscode
*.swp
*.swo

# Другое
.DS_Store
*.tsbuildinfo
.next
